<h2>Here are your blogs:</h2>

<div>
  <ul>
    <%- @feeds.each do |feed| %>
      <li>
        <%= feed.url %>
        <%= link_to 'Edit', edit_feed_path(feed) %>
        <%= link_to 'Remove', feed, :confirm => 'Are you sure?', :method => :delete %> 
      </li>
    <%- end %>
  </ul>
</div>

<%= link_to "Add blog", new_feed_path %>

